
.devClass{
    font-size: 14px;
    text-align: center;
    width: max-content;
    height: max-content;
    background-color: yellowgreen;
    border: 1px solid rgb(0, 0, 0);
    margin: 50px;
    padding: 10px;
   } 

   .heading {
    font-size: 18px;
    color: brown;
    }
       
    .paragraph {
        font-size: 18px;
        color: white;
    }